@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Koh+Santepheap:wght@100;300;400;700;900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Koh+Santepheap:wght@100;300;400;700;900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color:#1A3636;
}

::-webkit-scrollbar-thumb{
    background-color: #5dc15d;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #80ef80;
}

*{
    margin: 0px;
    padding: 0px;
}   

ul{
    list-style: none;
}

header{
    position: static;
    background-color: #80ef80;   
    color:  #173317; 
    width: 100vw;
}

.header_title_img_area{
    justify-content: center;
    display: flex;
}

.header_title{
    font-family: 'Koh santepheap';
    margin-top: 50px;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #5dc15d;
    padding: 1.5em;
}

.website_icon{
    max-width: 250px;
    max-height: 250px;
}

.header_ul{
    max-width: fit-content;
    display: flex;
    flex-flow: row;
}

a{
    text-decoration: none;
    color: #173317;
}

.header_btn{
    font-family: 'roboto flex';
    font-size: 20px;
    margin-right: 40px;
    border-radius: 14px;
    background-color: #80ef80;
    transition: all 1s;
}

.header_btn a{
    display: block;
    padding: 1em;
}

.theme_mode_btn{
    background: none;
    border: none;
}

.dark_mode_icon{
    max-width: 40px;
}

.theme_mode_btn:hover{
    cursor: pointer;

}

.header_btn:hover{ 
    cursor: pointer;
    transition: background-color 1s;
    background-color: aliceblue;
    box-shadow: 
    1px 1px 10px white;
}

.light{
    background-color: white;
    transition: all 1s;
    color: #173317;
}

.dark{
    transition: all 1s;
    background-color: #1A3636;
    color: #5dc15d;
}

.dark p {
    color: white;
}

h2{
    font-family: 'libre bodoni';
}

p {
    margin: 4px;
    font-family: 'geist mono';
    font-size: 20px;
}

.section01{
    display: flex;
    flex-flow: row;
    overflow: auto;
}

.text{
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
}

main{
    display: flex;
    flex-flow: column;
}

.glowing_text{
    color: #5dc15d;
    transition: all 1s;
    text-shadow: 
    1px 1px 4px #5dc15d,
    1px 1px 5px rgb(0, 255, 0);
}

.glowing_text:hover{
    cursor:default;
    transition: all 1s;
    color: red;
    text-shadow: 
    1px 1px 4px red,
    1px 1px 5px rgb(255, 0, 0);
}

.dynamic_image{
    max-width: 800px
}

body{
  width: 100vw;
  height: 100vh;
  overflow-x:hidden;

}

.section02{
    padding: 5%;
    background-color: lightgray;
    overflow: auto;
}

.dark .section02{
    transition: all 1s;
    background-color: #173317;
}

.dark .section02 p{
    color: white;
}

.section03{
    display: flex;
    flex-flow: column;
    overflow: auto;
}

.section02 .text{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section02 p{
    color: #173317;
}

.Amitay{
    max-width: 600px;
}

.hamburguer{
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}

.hamburguer::before,
.hamburguer::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background:#173317;
    margin-top: 5px;
}

.dark hr{
    background-color: #5dc15d;
}

hr {
    border: none;
    background-color: #1A3636;
    height: 2.4px;
    margin: 15px;
}

.cards{
    display: flex;
    flex-flow: row;
}

.card_box{
    background-color: #5dc15d;
    margin: 5px;
    border-radius: 12px;
    border: none;
}

.dark .card_box, .dark .card_box p{
    background-color: lightgray;
    color: #1A3636;
}

.in_section_box{
    background-color: #80ef80;
    padding: 1.2%;
    border-radius: 10px;
}

.dark .in_section_box {
    background-color:  #173317;
}


@media (max-width: 900px) {

    .cards{
        flex-direction: column;
    }

    h2{
        font-size: 35px;
    }

    p {
        font-size: 26px;
    }
    .hamburguer{
        display: block;
        z-index: 1;
    }

    .header_ul{
        flex-direction: column;
        margin-left: calc(100vw - 110%);
        align-items: center;
    }

    nav{
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(3.5px);
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;

        clip-path: circle(100px at 90% -15%);
        flex-direction: column;
        align-items: center;
        transition: 1s ease-out;
        pointer-events: none;
    }

    .active, .header_ul{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .section01 {
      display: flex;
      flex-direction: column;
    }
    .Amitay{
        max-width: 100%;
    }

    body{
        width: 100vw;
    }

    .website_icon{
        max-width: 100px;
    }

    h1{
        font-size: 30px;
    }

    header{
        width: 100vw;
    }
    
    .header_btn{
        margin: 2px;
    }

    .dynamic_image{
        max-width: 100vw;
    }

  }